/* Modal Content/Box */

.modal-login {
  max-width: 600px; /* Could be more or less, depending on screen size */
}

.btn-gradient {
  background-image: linear-gradient(to right, #ff623a 0%, #ff3663 100%);
  margin: auto;
  color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.loader {
  border: 16px solid #ff623a;
  border-radius: 50%;
  border-top: 16px solid #ff3663;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
