	body,h1 {font-family: "Raleway", sans-serif}
	body, html {
  margin: 0;
  height: 100%;
}
/* Theming */

/* Primary color for the background */
.gjs-one-bg {
  background-color: #3d3d3d;
}

/* Secondary color for the text color */
.gjs-two-color {
  color: rgba(255, 255, 255, 0.7);
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: #ec5896;
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #ec5896;
}