<div id="info-panel" style="display: none;">
  <div class="info-panel-label">
    <b>OSCAR</b> is a tool to create custom and beautiful Graphical User
    Interfaces to control interactive installations <br /><br />
    For tutorials, feedback, and help you can refer to
    <a
      class="info-panel-link gjs-four-color"
      target="_blank"
      href="https://www.createwithoscar.com/"
      >our webpage</a
    >
    and open an issue. For problems with the builder itself, open an issue on
    the main
    <a
      class="info-panel-link gjs-four-color"
      target="_blank"
      href="https://github.com/trafalmejo/OSCAR/issues"
      >OSCAR repository</a
    >
    or drop an email to
    <a
      class="info-panel-link gjs-four-color"
      href="mailto:hello@createwithoscar.com"
      >hello@createwithoscar.com</a
    >
    <br /><br />Being a free and open source project contributors and supporters
    are extremely welcome. OSCAR is looking for collaborators all the time.
    Share your project and let us be part of them, please let us know!
    <a
      class="info-panel-link gjs-four-color"
      href="mailto:hello@createwithoscar.com"
      >hello@createwithoscar.com</a
    >
  </div>
</div>
