<div id="load-panel" style="display:none">
  <div class="load-panel-label">
    <div class="container">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

      </table>
      <label for="uname"><b>Name</b></label>
      <input id='load-name' type="text" placeholder="name of the project" name="name" required>
      <a id='load-button' class="info-panel-link gjs-four-color" href="#">LOAD</a>
      <a id='logout-button-load' class="info-panel-link gjs-four-color" href="#">Log Out</a>
    </div>
  </div>
</div>