<div id="login-panel" style="display: none;">
  <div class="loader" id="loader" style="display: none;"></div>
  <div class="login-panel-label text-center" id="login-form">
    <form class="form-signin" action="login" method="post">
      <%- include('messages') %>
      <img
        class="mb-4"
        src="../images/oscar-circle.png"
        alt=""
        width="72"
        height="72"
      />
      <label for="inputEmail" class="sr-only mb-2">Email address</label>
      <input
        type="email"
        id="email"
        class="form-control mb-2"
        name="email"
        placeholder="Email address"
        required=""
        autofocus=""
      />
      <label for="inputPassword" class="sr-only mb-2">Password</label>
      <input
        type="password"
        id="password"
        class="form-control mb-2"
        name="password"
        placeholder="Password"
        required=""
      />
      <button
        id="login_button"
        class="btn btn-lg btn-block btn-secondary btn-gradient"
        type="submit"
      >
        Log in
      </button>
    </form>
    <div>
      <a
        class="info-panel-link gjs-four-color"
        target="_blank"
        href="http://account.createwithoscar.com/register"
        >Create Account</a
      >
    </div>
    <div>
      <a
        class="info-panel-link gjs-four-color"
        target="_blank"
        href="http://account.createwithoscar.com/forgotpassword"
        >Forgot password?</a
      >
    </div>
  </div>
</div>
