<div id="login-panel" style="display:none">
  <div class="login-panel-label">
    <!-- <form action="login" method="post"> -->
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input id="email" type="text" placeholder="Enter Email" name="email" required>
      <label for="psw"><b>Password</b></label>
      <input id="password" type="password" placeholder="Enter Password" name="password" required>
      <button id="login_button" type="button">Login</button>
      <span class="psw"></span><a class="info-panel-link gjs-four-color" target="_blank"
        href="https://trafalmejo.github.io/OSCAR">Forgot password?</a> </span>
    </div>
    <!-- </form>  -->
  </div>
</div>
