<div id='login-messages-div' class="alert alert-danger" style="display:none">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <div id='login-messages'></div>
</div> 
