<div id="save-panel" style="display:none">
  <div class="save-panel-label">
    <div class="container">
      <label for="uname"><b>Name</b></label>
      <input id="save-name" type="text" placeholder="name of the project" name="name" required>
      <a id='save-button' class="info-panel-link gjs-four-color" href="#">SAVE</a>
      <a id='logout-button-save' class="info-panel-link gjs-four-color" href="#">Log Out</a>
    </div>
  </div>
</div>
